<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nueva Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h2>Datos nueva tarea</h2>

    <p>
        <label for="date">Fecha de tarea</label>
        <input name="date" type="date"></input>
    </p>

    <p>
        <label for="horas">Horas</label>
        <select name="horas" id="horas">
            <option value="0h">0h</option>
            <option value="0.5h">0.5h</option>
            <option value="1H">1h</option>
            <option value="1.5h">1.5h</option>
            <option value="2h">2h</option>
            <option value="2.5h">2.5h</option>
            <option value="3h">3h</option>
            <option value="3.5h">3.5h</option>
            <option value="4h">4h</option>
            <option value="4.5h">4.5h</option>
            <option value="5h">5h</option>
            <option value="5.5h">5.5h</option>
            <option value="6h">6h</option>
            <option value="6.5h">6.5h</option>
            <option value="7h">7h</option>
            <option value="7.5h">7.5h</option>
            <option value="8h">8h</option>
        </select>
    </p>

    <p>
        <label for="date">Tareas</label><br>
        <textarea name="date" rows="10" cols="50">¿Qué tareas tienes?</textarea>
    </p>

</body>

</html>